/* колір тексту #212121 */
/* колір тексту при наведенні #2196F3 */
/* колір тексту параграфів #757575 */
/* колір лого #000000 , #2196F3 */
/* колір тексту футера ##FFFFFF 60% */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;

  max-width: 100%;

  color: var(--primary-text-color);
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

/* HEADER */

/* logo */
.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.container.main-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0 215;
  border-bottom: 1px solid #ECECEC;;
}

.logo-web {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* contacts list */

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-item {
  margin-right: 50px;
}
.contacts-item:last-child {
  margin-right: 0;
}

.contacts-link {
  text-decoration: none;

  font-weight: 500;

  color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

/*HERO  замовити послугу */

.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.hero-container {
  display: flex;
  width: 1200px;
  padding: 200px auto 280px;

  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  padding-top: 200px;
}

.hero-title {
  /* width: 696px;
  height: 120px;
  left: 452px;
  top: 280px; */
  margin-left: auto;
  margin-right: auto;

  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* main button */
.main-button {
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;
  border: 0;

  padding: 10px 32px;
  margin-top: 30px;
}

/* заголовки секцій */

.section-title {
  font-size: 36px;
  line-height: 1.2;
  margin: auto;

  text-align: center;
  margin-bottom: 50px;
}
/* Наші переваги-feature list*/
.conteiner.feature-list {
  background-color: #ffffff;

  padding-top: 47px;
  padding-bottom: 47px;
  margin-bottom: 94px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list.list {
  display: flex;
  margin-top: 94px;

  /* width: 1170px;
  height: 98px;
  left: 215px;
  top: 774px; */
}

.feature-list .item{
  width: 270px;
  margin-right: 30px;
}
.feature-list .item:last-child{
  margin-right: 0;
}


/* чим ми займаємося */
.our-classes-container {
  display: flex;
  flex-direction: column;
}

.section-title.our-classes {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  /* max-width: 366px;
  height: 42px;
  left: 617px;
  top: 966px; */

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #ffffff;
}

.our-classes.list {
  display: flex;
  gap: 15px;

  width: 1170px;
  height: 386px;
  left: 215px;
  top: 966px;

  background-color: #ffffff;
}
.our-classes.list .item:not(:last-child) {
  margin-right: 30px;
}

.text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* наша команда */
/* .section,
.section-site {
  background: #f5f4fa;
} */

.index-box{
  align-content: center;

  padding: 30px 70px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.team.list {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;

  /* width: 1600px;
  height: 648px;
  left: 0px;
  top: 1446px; */
}

.team.list .item:not(:last-child) {
  margin-right: 30px;
}

.team p {
  color: #757575;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

/* розділи послуг фільтр */

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.button {
  background-color: #f5f4fa;

  color: var(--primary-text-color);
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: none;

  padding: 6px 22px;

  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 34px;
}

.services button:hover,
.services button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* приклади робіт */

.section-site {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
  background-color: #ffffff;

}

.box{
  padding: 20px 24px;

  background-color: #ffffff;
  border: 1px solid #000;
  border-top: none;
  border-color: #EEEEEE;
}

.section-site h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.section-site p {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1, 9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}

/* footer */


.section-footer{
  background-color: #2f303a;

}
.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

   width: 1200px;
  padding: 0 215;
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.google-link {
  color: #ffffff;
}

.address .link {
  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-text-color);
}

.address a[href='info@devstudio.com'],
.address a[href='+380961111111'] {
  color: rgba(255, 255, 255, 0.6);
}
