/* колір тексту #212121 */
/* колір тексту при наведенні #2196F3 */
/* колір тексту параграфів #757575 */
/* колір лого #000000 , #2196F3 */
/* колір тексту футера ##FFFFFF 60% */


:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
}



body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-text-color);
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}


h1,
h2,
h3,
h4,
p{
  margin-top: 0;
  margin-bottom: 0;
  }

ul,
ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img{
  display: block;
}

.link {
  text-decoration: none;
}


/* HEADER */


/* logo */
.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.container.main-nav{
    display: flex;
    align-items: center;
        
}

.logo-web {
  color: #2196f3;
}



.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* site nav */

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link {
  display: block;  
  padding-top: 32px;
  padding-bottom: 32px;


  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  text-decoration: none;
}


.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* contacts list */

.contacts{
    margin-left: auto;
    display: flex;
      align-items: center;
}

.contacts-item{
  margin-right: 50px;
}
.contacts-item:last-child{
  margin-right: 0;
}

.contacts-link {

    text-decoration: none;

    font-weight: 500;

    color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}



/*HERO  замовити послугу */

.hero {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

.hero-title {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;


    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}




/* main button */
.button.main {
    
    border-radius: 4px;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */

    text-align: center;
    letter-spacing: 0.06em;

    margin-top: 30px;

    color: #ffffff;
}

/* button */
.button {
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;

  cursor: pointer;
}



/* заголовки секцій */

.section-title {
  font-size: 36px;
  line-height: 1.2;

  text-align: center;
}
/* наші переваги */
.section {
  background: #f5f5f5;

  padding-top: 47px;
  padding-bottom: 47px;

  }


.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list.list{
    display: flex;

    position: absolute;
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

/* чим ми займаємося */

.section-title.our-classes{
    position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-classes.list{
    display: flex;

    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
}
.our-classes.list .item:not(:last-child){
    margin-right: 30px;
}


.text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* наша команда */
.section,
.section-site {
  background: #f5f4fa;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.team.list{
    display: flex;

    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
}

.team.list .item:not(:last-child){
    margin-right: 30px;
}

.team p {
  color: #757575;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

/* розділи послуг фільтр */
.services button {
  background-color: #f5f4fa;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  
  text-align: center;
  letter-spacing: 0.03em;
}
.services button:hover,
.services button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* приклади робіт */

.section-site{
    display: flex;
    flex-wrap: wrap;

}
.section-site {
  text-decoration: none;
}


.section-site h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.section-site p {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1, 9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background: #2f303a;
  
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.footer .logo {
  color: #ffffff;
}

.google-link {
  color: #ffffff;
}

.address .link {
  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-text-color);
}

.address a[href='info@devstudio.com'],
.address a[href='+380961111111'] {
  color: rgba(255, 255, 255, 0.6);
}
